!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    -# Use the title from a page's frontmatter if it has one
    %title
      - if @title
        = @title
        = '-'
      Free Domain Zones
    = stylesheet_link_tag "site"
    -# = javascript_include_tag "site"
  %body
    .ui.container
      %h1.ui.dividing.header
        = @title || "Free Domain Zones"
      = link_to 'Back to index', '/' unless @index
    = yield
    .ui.container.footer
      &copy; 2020&ndash;#{config[:commit][:time].utc.strftime('%Y')},
      = link_to 'Anton Smirnov', 'https://sandfox.me/'
      %br
      This work is licensed under a
      = link_to 'Creative Commons Attribution 4.0 International License.', 'https://creativecommons.org/licenses/by/4.0/'
      %br
      Our repositories:
      = link_to 'GitLab', 'https://gitlab.com/sandfox/freedomainzones.netlify.app'
      (primary),
      = link_to 'GitHub', 'https://github.com/arokettu/freedomainzones.netlify.app'
      %br
      = "Revision #{config[:commit][:id]}"
      = config[:commit][:time].utc.strftime('on %b %-d, %Y at %k:%M UTC')
