!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    -# Use the title from a page's frontmatter if it has one
    %title
      = current_page.data.title || "Free Domain Zones"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    .ui.container
      %h1.ui.dividing.header
        = current_page.data.title || "Free Domain Zones"
    = yield
    .ui.container.footer
      &copy; 2020,
      = link_to 'Anton Smirnov', 'https://sandfox.me/'
      %br
      This work is licensed under a
      = link_to 'Creative Commons Attribution 4.0 International License.', 'https://creativecommons.org/licenses/by/4.0/'
      %br
      = link_to 'Our GitLab repository', 'https://gitlab.com/sandfox/freedomainzones.netlify.app'