- if config[:disqus]
  #disqus_thread
  :javascript
    var disqus_config = function () {
        this.page.url = '#{ config[:host] }#{ current_page.url }';
        this.page.identifier = '#{ config[:host] }#{ current_page.url }';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://freedomainzones.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
  %noscript Please enable JavaScript to view the #{ link_to 'comments powered by Disqus', 'https://disqus.com/?ref_noscript' }.
  %script#dsq-count-scr{ src: '//freedomainzones.disqus.com/count.js', async: true }
