- filter ||= nil

- case filter
- when '1-level'
  - filter_callback = Proc.new { |name| /^(\.\w+)$/.match(name) }
  - @title = 'Free TLDs'
- when '2-level'
  - filter_callback = Proc.new { |name| /^(\.\w+){1,2}$/.match(name) }
  - @title = 'Free Second Level Domains'
- else nil
  - filter_callback = Proc.new { true }

.ui.container
  %p
    Here you can find a list of known currently functioning free domain zones.
    Fel free to leave your feedback, submit new zones, and fix inaccurate information
    <a href="https://gitlab.com/sandfox/freedomainzones.netlify.app">on our GitLab page</a>.

.ui.container
  %p
    - if filter == nil
      All
    - else
      = link_to 'All', '/index.html'

    &bull;

    - if filter == '1-level'
      Only top level domains
    - else
      = link_to 'Only top level domains', '/filtered/1-level.html'

    &bull;

    - if filter == '2-level'
      Up to 2 level domains
    - else
      = link_to 'Up to 2 level domains', '/filtered/2-level.html'

  %table.ui.celled.table.unstackable
    %thead
      %tr
        %th Zone
        %th NS Records
        %th Custom DNS
        %th Service
    %tbody
      - data.zones.keys.select(&filter_callback).sort.each do |name|
        - zone = data.zones[name]
        - service = data.services[zone.service]
        %tr
          %td
            = name
          %td
            = service.record_types ? service.record_types.join(', ') : '-'
          %td
            - if service.custom_ns
              ☑
            - else
              ☐
          %td
            = link_to service.name + ' ↗', service.url
