- service = data.services[service_name]
- @title = service.name

.ui.container
  %table.ui.celled.definition.table
    %tr
      %td URL
      %td= link_to service.url, service.url
    %tr
      %td Available zones
      %td= data.zones.filter{ |_, zone| zone.service == service_name }.keys.sort.join(', ')
    %tr
      %td Available NS record types
      - if service.record_types
        %td= service.record_types.join(', ')
      - else
        %td
          %i none (only external servers)
    %tr
      %td URL forwarding
      %td= service.forwarding ? 'yes' : 'no'
    %tr
      %td External DNS servers
      %td= service.custom_ns ? 'yes' : 'no'
    - if service.notes
      %tr
        %td Notes
        %td= service.notes

.ui.container
  = partial :disqus
